/*公共样式*/
.refresh{
	position: absolute;
	top: .16rem;
	right: .15rem;
	display: inline-block;
	width: .15rem;
	height: .17rem;
	background: url('../images/refresh.png');
	background-size: 100% 100%;
}
.return{
	position: absolute;
	top: .16rem;
	left: .15rem;
	display: inline-block;
	width: .1rem;
	height: .17rem;
	background: url('../images/ico-left.png');
	background-size: 100% 100%;
}
.hide{
	display: none !important;
}
header{
	position: relative;
	height: .5rem;
	line-height: .5rem;
	background: #1aa2ff;
}
header.white_bg{
	background: #fff;
}
header.white_bg p{
	color: #333333;
}
header.white_bg .return{
	background: url('../images/ico-leftBlock.png');
	background-size: 100% 100%;
}
header p{
	text-align: center;
	font-size: .17rem;
	color: #fff;
	font-family: '黑体';
}

/*弹框*/
.tip{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
}
.tip .tip_content{
	width: 80%;
	background: #fff;
	position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: .1rem .2rem;
    border-radius: .06rem;
}
.tip .tip_content .ico{
	display: inline-block;
	width: .4rem;
	height: .4rem;
	float: left;
	margin-left: 0;
}
.tip .tip_content>span{
	line-height: .4rem;
    margin-left: .1rem;
    font-size: .16rem;
}
.tip .tip_content>div{
	margin-top: .16rem;
    margin-bottom: .1rem;
    text-align: right;
}
.tip .tip_content>div>span{
	padding: .06rem .14rem;
    background: #2abfff;
    color: #fff;
    border-radius: .04rem;
}
.tip .tip_content>div>span.cancel{
	border: 1px solid #2abfff;
	color: #2abfff;
	background: #fff;
	margin-right: .1rem;
}
.tip .info{
	background: url(../images/info.png);
	background-size: 100% 100%;
}
.tip .error{
	background: url(../images/error.png);
	background-size: 100% 100%;
}
.tip .success{
	background: url(../images/success.png);
	background-size: 100% 100%;
}
.tip .warning{
	background: url(../images/warning.png);
	background-size: 100% 100%;
}
.tip .mask{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.4);
}
