build/*.js
config/*.js
static/js/*.js
src/components/userCenter/*.vue
src/components/bindCard/*.vue
src/components/queryBalance/*.vue
src/components/balance/*.vue
src/components/rechargeRecord/*.vue
src/components/parkRecord/*.vue
src/components/login/*.vue
src/components/register/*.vue
src/components/leadCard/*.vue
src/services/*.js
src/controllers/*.js
src/*.js